---
import { Icon } from 'astro-icon/components';
import Button from '../ui/Button.astro';
import StepForm from './StepForm.astro';

---

<StepForm id="step4" classes="hidden" title="Resume booking">
  <img
    class="object-cover object-center h-56 w-full rounded-xl"
    src="https://img.freepik.com/foto-gratis/sirviente-haciendo-tareas-casa_23-2149508110.jpg?t=st=1713484743~exp=1713488343~hmac=ee0d188717dffbeafb7679a9ecb8023e2c0ccfe4b425cbc1085ffea4b17c7377&w=996"
    alt="innsbruck"
  />

  <div class="space-y-2 my-5">
    <h2 class="text-md font-bold">Booking Details</h2>
    <p
      class="inline-flex items-center text-sm text-gray-500 px-2 py-1 border border-gray-300 rounded-lg"
    >
      <Icon name="tabler:map-pin-filled" class="w-6 h-6 mr-2" />
      <span id="resume_zipcode"> Wehlistrasse 66, 1200, Innsbruck</span>
    </p>
    <p
      class="inline-flex items-center text-sm text-gray-500 px-2 py-1 border border-gray-300 rounded-lg"
    >
      <Icon name="tabler:calendar" class="w-6 h-6 mr-2" />
      <span id="resume_date"> 17 Desember 2023</span>
    </p>

    <p
      class="inline-flex items-center text-sm text-gray-500 px-2 py-1 border border-gray-300 rounded-lg"
    >
      <Icon name="tabler:spray" class="w-6 h-6 mr-2" />
      <span id="resume_service"> General Cleaning</span>
    </p>
  </div>
  <hr class="my-4 bg-gray-300" />
  <div class="space-y-2 my-5">
    <h2 class="text-2xl font-bold">Contact Information</h2>
    <p class="flex items-center text-sm text-gray-500">
      <span class="font-semibold mr-1">Name:</span>
      <span id="resume_name"></span>
    </p>
    <p class="flex items-center text-sm text-gray-500">
      <span class="font-semibold mr-1">Email:</span>
      <span id="resume_email"></span>
    </p>
    <p class="flex items-center text-sm text-gray-500">
      <span class="font-semibold mr-1">Phone: </span>
      <span id="resume_phone"></span>
    </p>
    <p class="flex items-center text-sm text-gray-500">
      <span class="font-semibold mr-1">Address: </span>
      <span id="resume_address"></span>
    </p>
  </div>
  <hr class="my-4 bg-gray-300" />
  <div class="space-y-2 my-5">
    <h2 class="text-2xl font-bold">Service details:</h2>
    <div id="resume_service_details"></div>
  </div>
  <div class="my-5">
    <Button
      data-previous
      type="button"
      text="PREVIOUS"
      variant="tertiary"
      class="w-auto"
    />
    <Button
      type="submit"
      text="SUBMIT"
      variant="tertiary"
      class="ml-3 w-auto"
    />
  </div>
</StepForm>
