---
import { getLangFromUrl, useTranslations } from '@/utils/i18n/utils';
import { Icon } from 'astro-icon/components';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="text-muted text-sm bg-page-blue hidden md:block overflow-hidden text-ellipsis px-3 py-2 relative whitespace-nowrap"
>
  <ul class="flex justify-center items-center gap-12 text-xs text-white font-semibold">
    <li class="flex justify-center items-center">
      <Icon name="tabler:phone-filled" class="text-primarys w-3 h-3 mr-2 text-yellow-300" />
      <span class=""> +44 2045771654</span>
    </li>
    <li class="flex justify-center items-center">
      <Icon name="tabler:map-pin-filled" class="text-primarys w-3 h-3 mr-2 text-yellow-300" />
      <span>Center London, UK</span>
    </li>
    <li class="flex justify-center items-center">
      <Icon name="tabler:clock-filled" class="text-primarys w-3 h-3 mr-2 text-yellow-300" />
      <span>{t('fot.contact.days')}: 9:00/19:00</span>
    </li>
    <li class="flex justify-center items-center">
      <Icon name="ic:baseline-email" class="text-primarys w-3 h-3 mr-2 text-yellow-300" />
      <span>Example@google.com</span>
    </li>
  </ul>
</div>
