---
import Button from '../ui/Button.astro';
import StepForm from './StepForm.astro';
---

<StepForm id="step2" classes="hidden" title="Rubbish cleaning">
  <div class="flex flex-wrap -mx-3 mb-6">
    <div
      class="hidden items-center w-full p-4 mb-4 mx-2 md:mx-10 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
      role="alert"
      id="alter_error"
    >
      <svg
        class="flex-shrink-0 inline w-4 h-4 me-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
        ></path>
      </svg>
      <span class="sr-only">Info</span>
      <div>
        <span class="font-medium">Uh oh!</span> Please fill in all required fields
        before proceeding.
      </div>
    </div>
    <div id="form-step2" class="w-full"></div>
  </div>
  <div class="flex -mx-3 px-2 md:px-16 mb-6">
    <Button
      data-previous
      type="button"
      text="PREVIOUS"
      variant="tertiary"
      class="w-auto"
    />
    <Button
      data-next
      type="button"
      text="NEXT"
      variant="tertiary"
      class="ml-3 -auto"
    />
  </div>
</StepForm>
