---
import Layout from '../layouts/PageLayout.astro';
---

<Layout
  title="About Our Company"
  content="Discover our journey and commitment to excellence"
  image="images/personas-que-encargan-limpieza-oficinas.jpg"
>
  <div class="w-full h-screen bg-white"></div>
  <div class="w-full h-screen bg-white"></div>
</Layout>
