---
import Layout from '../layouts/PageLayout.astro';
---

<Layout
  title="Get in Touch"
  content="Reach out for sparkling clean solutions."
  image="/src/assets/images/oficina-limpieza-hombres-tiro-completo.jpg"
>
  <div class="w-full h-screen bg-white"></div>
  <div class="w-full h-screen bg-white"></div>
</Layout>
