---
import Layout from '../layouts/PageLayout.astro';
---

<Layout
  title="FAQs: Answers to Your Cleaning Queries"
  content="Find solutions to common cleaning questions."
  image="/src/assets/images/servicio-limpieza-profesional-personas-trabajando-juntas-oficina2.jpg"
  position="top"
>
  <div class="w-full h-screen bg-white"></div>
  <div class="w-full h-screen bg-white"></div>
</Layout>
