---
import Layout from '../layouts/PageLayout.astro';
---

<Layout
  title="Professional Cleaning Services"
  content="Experts in home and office cleaning."
  image="/src/assets/images/cafeteria-pequena-empresa.jpg"
  position="top"
>
  <div class="w-full h-screen bg-white"></div>
  <div class="w-full h-screen bg-white"></div>
</Layout>
