---
// import { ViewTransitions } from 'astro:transitions';
import '@/assets/styles/talwind.css';
import CustomStyles from '@/components/CustomStyles.astro';
import BasicScripts from '@/components/common/BasicScripts.astro';
import { Contact, Footer, Header } from '@/components/widgets';
import { footerData, headerData } from '@/navigation';

import { I18N } from '../utils/config';

const { language, textDirection } = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <CustomStyles />
    <!-- TODO: Metadata,CustomStyles... -->
    <!-- <ViewTransitions fallback="swap" /> -->
  </head>

  <body class="antialiased text-default tracking-tight">
    <slot name="contact">
      <Contact />
    </slot>
    <slot name="header">
      <Header {...headerData} />
    </slot>
    <main>
      <slot />
    </main>
    <slot name="footer">
      <Footer {...footerData} />
    </slot>
    <BasicScripts />
  </body>
</html>
