---
import Layout from "./Layout.astro";
import Contact from "../components/widgets/Contact.astro";
import Header from "../components/widgets/Header.astro";
import { headerData } from "../navigation.ts";

---

<Layout>
  <slot name="contact">
    <Contact />
  </slot>
  <slot name="header">
    <Header {...headerData} />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <!-- <Footer TODO /> -->
  </slot>
</Layout>
