---
import Layout from "./Layout.astro";

---

<Layout>
  <slot name="contact">
    <!-- <Contact /> TODO -->
  </slot>
  <slot name="header">
    <!-- <Header /> TODO -->
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <!-- <Footer TODO /> -->
  </slot>
</Layout>
