---

---

<div class="hidden md:flex">
  <div class="wave-container">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" class="w-full h-full"
      ><path
        d="M-9.36,23.13 C187.02,193.40 370.43,-39.86 500.78,62.50 L502.48,157.97 L-4.85,160.91 Z"
        style="stroke: none; fill: rgb(255, 255, 255);"></path></svg
    >
  </div>
  <div class="wave-container">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" class="w-full h-full"
      ><path
        d="M-7.11,10.32 C341.64,168.79 277.31,-15.25 500.78,27.07 L500.00,149.60 L-0.00,149.60 Z"
        style="stroke: none; fill: rgba(255, 255, 255, 0.132);"></path></svg
    >
  </div>

  <div class="wave-container">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" class="w-full h-full"
      ><path
        d="M-7.11,10.32 C247.40,194.38 277.31,-15.25 536.34,97.93 L500.00,149.60 L-0.00,149.60 Z"
        style="stroke: none; fill: rgba(255, 255, 255, 0.444);"></path></svg
    >
  </div>
</div>
